@page
@model SensoresCreateModel
@{
    ViewData["Title"] = "Novo Sensor";
}

<h2>@ViewData["Title"]</h2>

<form method="post">
    <label>Tipo:</label>
    <input asp-for="Sensor.Tipo" />
    <label>Valor:</label>
    <input asp-for="Sensor.Valor" />
    <label>Data Leitura:</label>
    <input asp-for="Sensor.DataLeitura" type="date" />
    <label>Rio:</label>
    <select asp-for="Sensor.RioId" asp-items="Model.Rios"></select>
    <button type="submit">Salvar</button>
</form>
<a asp-page="Index">Voltar</a>
